
/*
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Asap', sans-serif; */

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	
}

/*Etiquetas */
body{ 
	background-color: white
	
	background-size: cover;
}

h1{
	
	font-family: 'Merriweather Sans', sans-serif;
	color: #F47920;	
	margin-left: 10px; 
	font-size: 30px;
	text-align: center;
}

h2{

	font-family: 'Asap', sans-serif;
	margin-left: 10px; 
	font-size: 25px;
	text-align: left;
    color:#F47920; 
    text-shadow: 2px 2px red;
}

h3{

    font-family: 'Merriweather Sans', sans-serif;
    color: white;   
    margin-left: 10px; 
    font-size: 15px;
    text-align: center;
}

h4{

    font-family: 'Merriweather Sans', sans-serif;
    color: white;   
    margin-left: 10px; 
    font-size: 10px;
    text-align: center;
}
header{
	width: 1000px;
	height: 100px;
	background: rgb(255, 255, 255, 3,5);
}

nav  {
    
    height: 100px;
    width: 1000px;
}

section{
	width: 450px;
	background: white;
	height: 310px;
	float: left;
    border-radius: 10px; 
}
aside{
    
    width: 525px;
    background: white;
    height: 310px;
    float: right;
    margin-left: 20px;
    margin-top: auto;
    border-radius: 10px;

}

article{
    
    width: 1000px;
    background: white;
    height: 310px;
    float: left;
    margin-left: 20px;
    margin-top: auto;
    border-radius: 10px;

}

footer{
    position: relative; 
    width: 1000px;
    height: 80px;
    background: #005883;    
    clear: both;
    float: left;
    margin-top: 50px;
    border-radius: 10px; 
}

p{
    font-size: 20px;
    font-weight: bolder;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
    font-family: 'Asap', sans-serif;
}


/*Clases*/

.menuCSS3 ul {
    display: flex;
    margin: 5;
    list-style: none;
    float: center;  
    position:absolute;
    padding: .7em;
    background: #005883;
    background: rgba(248,172,0,1);
    border-radius: 10px;    
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 

   }

   .menuCSS3 a {
    float: center;  
    text-decoration: none;
    color: #fff;
    width: 155px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1em/1 'Asap', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;  
    /*
    background: linear-gradient(#005883, #005883);    
    */
      display: block;
      padding: 1em;
      background-color: #005883;      
      color: #ffffff;
   }
   .menuCSS3 a:hover {
      background-color: #F47920;

   }
   .menuCSS3 ul li ul {
      display: none;
   }
   .menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
      display: block;
   }
    

    .menu4 ul li {
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
   }

/*boton siguiente*/

.button1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:  #005883;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
  margin-top: 500px;
  width: 200px;
}


.button1:hover {background-color:  #F47920}

.button1:active {
  background-color:  #F47920;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.formato  {
    font-size: 30px;
    font-weight: bolder;
    line-height: 24px;
    padding: 10px;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

.medidas{
  width: 1000px;

}
/*Estilo Link Siguiente*/



.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color:white; text-decoration:none;}
.menu:visited{color:white; text-decoration:none;}
.menu:hover{color:white; text-decoration:none; text-shadow:0 0 30px white;}
.menu:active{color:white; text-decoration:none;}

/*SEUDO CLASES

li:hover{
	background: black; 
	box-shadow: 0 0 10px white inset;
}

*/